<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Master_Inventory_System_Group4.My.MySettings.Group4ConnectionStringCampus"
            connectionString="Data Source=enterprise.cba.ksu.edu;Initial Catalog=Group4;Persist Security Info=True;User ID=Group4;Password=Grp4313s"
            providerName="System.Data.SqlClient" />
        <add name="Master_Inventory_System_Group4.My.MySettings.Group4ConnectionStringHome"
            connectionString="Data Source=BOBBYS-PC;Initial Catalog=CBA_MIS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Master_Inventory_System_Group4.My.MySettings.InventoryLaptop"
            connectionString="Data Source=BOBBYLAPTOP;Initial Catalog=Inventory;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Master_Inventory_System_Group4.My.MySettings.CBAInventoryConnectionString"
            connectionString="Data Source=10.135.85.40\SQLEXPRESS;Initial Catalog=CBAInventory;Persist Security Info=True;User ID=dbprogrammer;Password=lett2001"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>